*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --cor-1: rgb(155, 155, 155);
    --cor-2: rgb(16, 16, 16);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-2);
}
.box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.box-content #lampada{
    cursor: pointer;
    z-index: 9999;
    position: relative;
}
.box-content .light_lamp{
    width: 100px;
    height: 100px;
    background-color: #f1f425;
    position: absolute;
    z-index: 0;
    top: 200px;
    border-radius: 50%;
    filter: blur(50px);
    transition: 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.box-content .light_lamp.on{
    opacity: 1;
    visibility: visible;
}
.box-content .btn-lamp{
    border: none;
    background-color: var(--cor-1);
    padding: 15px 30px;
    border-radius: 5px;
    color: var(--cor-2);
    cursor: pointer;
    transform: scale(1.9);
    user-select: none;
    transition: 0.2s ease-in-out;
}
